#page {
  padding-top: 0px;
  color: white;
}
#portals {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: black;
}
.container {
  max-width: 600px;
  margin: 40px auto;
}

#postForm textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
}

#postForm button {
  margin-top: 6px;
  padding: 8px 16px;
}

#posts div {
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}
